<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.dao.CityDao">
    <resultMap id="BaseResultMap" type="com.my.domain.City">
        <result column="id" property="id"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>
    <parameterMap id="City" type="com.my.domain.City"/>
    <sql id="Base_Column_list" >
        id,province_id,city_name,description
    </sql>
    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_list"/>
        FROM city
        WHERE
        city_name = #{cityName}
    </select>
</mapper>